# Optional API auth password
# 这是系统最后的安全门
API_PASSWORD=password
API_PASSWORD_ENABLE=false

# Required path to main config json
BARKEEPER_CONFIG_PATH=plugins/SillyTavern_Barkeep/data/config/main_conf.json

# true: start standalone HTTP server
# false: use SillyTavern router mode
HTTP_MODE=false

# Standalone HTTP listen address, used when HTTP_MODE=true
BARKEEPER_LISTEN=0.0.0.0:10024
